@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-board {
  @apply h-screen bg-slate-500;
}

.white-key {
  @apply my-0.5 w-11/12 h-1/6 rounded flex items-center pl-4 font-black text-gray-100 md:h-[15%] md:my-1.5 md:text-3xl md:pl-8;
}

.black-key {
  @apply bg-primary-black w-6/12 h-1/6 rounded flex items-center pl-4 absolute font-black text-white md:w-7/12 md:h-[12%] md:text-3xl md:pl-8;
}

.tech-icon {
  @apply w-[65%] mx-auto text-black;
}

.tech-selected {
  @apply bg-primary-blue py-2 rounded-lg h-[70%];
}
/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
